/* Page dimensions and default styles */
html, body { 
    height: 100%;
    margin: 0;
}

body {
    font-family: "titillium Web", "Georgia", "Times", "Times New Roman";
    font-size: 1.1em;
    color: #777777;
    background-image: url("../images/dust_scratches.png");
}

#pageContainer {
    min-height: 100%;
    padding-bottom: 96px; 
}

.container {
    max-width: 960px;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 50;
    border-bottom: solid 2px #cccccc;
    letter-spacing: 1.2px;
}

#banner {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-brand:hover {
    color: white;
    background-color: #46a09b;
}

.nav-link {
    padding-top: 23px;
    padding-bottom: 22px;
    color: #777777;
    position: relative;
}

.nav-item a:hover {
    background-color: #4aaaa5;
    color: white;
}

.divider:after {
    content: '';
    position: absolute;
    bottom: 36%;
    left: 99%;
    height: 25%;
    border-right: 1px solid #777777;
    opacity: 0.3;
}

/* Left panel */
h2 {
    font-weight: bold;
    font-size: 1.8em;
    color: #4aaaa5; 
    letter-spacing: 1.2px;
}

hr {
    border: 0;
    height: 2px;
    background: #cccccc;
    background-image: linear-gradient(to right, #cccccc, #8a8a8a, #cccccc);
}

/* Connect With Me section */
h3~hr {
    max-width: 196px;
}

h3 {
    display: inline-block;
    font-weight: bold;
    font-size: 1.15em;
    color: #4aaaa5;
    letter-spacing: 1.2px;
}

#midpic {
    margin-left: 5px;
    margin-right: 5px;
}

/* About Me section */
#aboutMePic {
    float: left;
}

#contentBody {
    padding-top: 96px;
}

#UofA {
    color: #AB0520;
    text-decoration: none;
}

#UofA:hover {
    color: #C55063;
}



/* Portfolio section */
.portfolioPics {
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
    width: 150px;
}

#portfolio {
    text-align: center;
    position: relative;   
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-top: 30px;
}

#portfolio a {
    position: relative;
}

.picbanner {
    font-size: 0.9em;
    width: 100%;
    padding-top: 5px;
    height: 35px;
    background-color: #4aaaa5;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 2;
    opacity: 0.95;
    color: white;
}

/* Contact section */
#contact button {
    background-color: #4aaaa5;
    color: white; 
    border: none;
    width: 100px;
    height: 35px;
    font-size: 1em; 
    cursor:pointer;
}

#contact input, #contact textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#contact input::-webkit-input-placeholder {
    opacity: 0.6;
}

/* Footer */
.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -74px;
    background-color: #666666;
    color: #DCDCDC;
    font-size: 0.9em;
    text-align: center;
}

#tealBar {
    height: 10px;
    background-color: #4aaaa5;
    position: relative; 
    bottom: 20px;
}

/* Media queries */
@media (max-width: 767px) {
    .portfolioPics {
        width: 250px;
    }

    #connectHeader {
        font-size: 1.4em;
        margin-bottom: 0px; 
    }

    .picbanner {
        font-size: 1.4em;
        padding-top: 8px;
        height: 55px;
        top: 50px;
        left: 0px;
        z-index: 2;
    }
}

@media (max-width: 575px) {
    #aboutMePic {
        float: none;
        width: 330px;
        margin-bottom: 20px;
    }

    .centerElement {
        text-align: center;
    }
}
